@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: "Hind Siliguri", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #020617;
}

* {
  font-family: "Hind Siliguri", sans-serif !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Hind Siliguri", sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scroll padding for fixed header */
html {
  scroll-padding-top: 80px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
